$accent: #fd926d;
$default: #544f4d;
$title: #414141;
$bg: #fdba6d4f;



%lato-400 {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

%lato-italic {
   font-family: 'Lato-Italic', sans-serif;
   font-weight: 400;
}

%lato-700 {
  font-family: 'lato-Bold', sans-serif;
  font-weight: 700;
}

%lato-900 {
  font-family: 'Lato-Black', sans-serif;
  font-weight: 900;
}

%oswald-300 {
   font-family: 'Oswald-Light', sans-serif;
   font-weight: 300;
}

%courgette-400 {
  font-family: 'Courgette-Regular', cursive;
  font-weight: 400;
}

%btn {
  
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}