@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  padding: 43px 0 37px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-dropdown {
    display: flex;
  }
}

.header-dropdown {
  position: relative;
  display: inline-block;

  &__link {
    padding-right: 15px;
    color: $title;
    font-size: 20px;
    transition: color 0.3s;

    &:hover {
      color: $accent;
    }
  }

  &__link::before {
    position: absolute;
    content: '';
    background-image: url('../images/icons/corner.png');
    width: 7px;
    height: 4px;
    top: 9px;
    right: 0;
  }

  &__link:hover:before {
    color: $accent;
  }

  &__content {
    position: absolute;
    display: none;
    z-index: 1;
    min-width: 100px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 17px 1px rgba(253, 146, 109, 0.21);
  }

  &__content-link {
    display: block;
    color: $title;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
  }
}

.header-dropdown:hover .header-dropdown__content {
  display: block;
}

.header-dropdown:hover .header-dropdown__link {
  color: $accent;
}

.header-dropdown+.header-dropdown {
  margin-left: 40px;
}

.header-user-nav {
  display: flex;
  position: relative;

  &__link {
    margin-left: 25px;
    transition: color 0.3s;
  }

  &__link:hover path {
    fill: $accent;
  }

  &__num--heart,
  &__num--cart {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $accent;
    top: -15px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 22px;
  }

  &__num--heart {
    right: 33px;
  }

  &__num--cart {
    right: -12px;
  }
}

.slider {
  min-width: 970px;
  height: 440px;
  margin-bottom: 70px;  
  background-image: url('../images/slider/sliderfon.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__item {
    position: relative;
  }

  &__item-content {
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 50px;
  }

  &__item-small {
    @extend %courgette-400;
    font-size: 36px;
    color: #78645d;
    display: block;
  }

  &__item-big {
    @extend %lato-900;
    font-size: 74px;
    color: $accent;
    line-height: 1;
    text-transform: uppercase;
  }

  &__item-narrow {
    @extend %oswald-300;
    font-size: 36px;
    color: #78645d;
    text-transform: uppercase;
  }

  &__item-link {
    display: block;
    margin-top: 20px;
    @extend %lato-400;
    background-color: $accent;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 45px 20px 20px;
    position: relative;
    transition: color 0.3s;
  }

  &__item-link:hover {
    color: $default;
  }

  &__item-link::before {
    position: absolute;
    content: '';
    background-image: url('../images/icons/corner-right.png');
    width: 4px;
    height: 7px;
    top: 27px;
    right: 23px;
  }

  &__item-img {
    width: 1200px;
    height: 440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    li {
      margin: 0 20px;

      button {
        padding: 0;
        font-size: 0;
        border: none;
        background-color: transparent;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #867a76;
        cursor: pointer;
      }

      &.slick-active {
        button {
          background-color: $accent;
        }
      }
    }
  }
}













.accept {
  padding: 18px 0;
  background-color: #fdba6d4f;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 20px;
    transition: color 0.3s;
  }

  &__text:hover {
    color: $accent;
    cursor: pointer;
  }

  &__item {
    margin-left: 10px;
  }
}

.footer {
  &__top {
    padding: 30px 0 23px;
    background-color: #ededed;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 160px;
  }

  &__info-title {
    @extend %lato-700;
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__info-link {
    display: block;
    margin-bottom: 7px;
  }

  &__social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  &__additionally {
    padding: 30px 0;
    background-color: #000000;
  }

  &__additionally-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__other {
    display: flex;
  }

  &__other-item {
    padding-right: 30px;
    position: relative;
  }

  &__other-item:last-child {
    padding-right: 0;
  }

  &__other-item--line::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 10px;
    background-color: #ffffff;
    top: 2px;
    right: 13px;
  }

  &__other-link,
  &__copy {
    color: #ffffff;
  }
}











@import 'media';